<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DPDCalculatorPortBinding" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
        <binding name="DPDGeographyPortBinding" maxBufferSize="64000000"
          maxReceivedMessageSize="64000000" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webBinding" maxBufferSize="64000000" maxReceivedMessageSize="64000000"
          crossDomainScriptAccessEnabled="true" />
      </webHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="dpdService.dpdServiceBehaviors"
        name="DpdService.dpdService">
        <endpoint address="SOAP" binding="basicHttpBinding"
                  name="SOAPendpoint" contract="DpdService.IdpdProxy" />
        <endpoint address="REST" binding="webHttpBinding" behaviorConfiguration="restfulBehavior"
                  bindingConfiguration="webBinding" name="RESTendpoint" contract="DpdService.IdpdProxy" />
        <endpoint address="mex" binding="mexHttpBinding" name="MEXendpoint"
          contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint address="http://ws.dpd.ru:80/services/geography" binding="basicHttpBinding"
        bindingConfiguration="DPDGeographyPortBinding" contract="geographyProxy.DPDGeography"
        name="DPDGeographyPort" />
      <endpoint address="http://ws.dpd.ru:80/services/calculator2"
        binding="basicHttpBinding" bindingConfiguration="DPDCalculatorPortBinding"
        contract="calculator2Proxy.DPDCalculator" name="DPDCalculatorPort" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp helpEnabled="true" defaultOutgoingResponseFormat="Json"/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="dpdService.dpdServiceBehaviors">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>